.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.review-wrap .review-header img {
  width: 36px;
  height: 36px;
  object-fit: contain;
  border: 1px solid black;
  margin-right: 10px;
}

.review-wrap .review-header {
  margin-bottom: 10px;
}

.review-wrap {
  background: rgba(0,0,0,0.03);
  padding: 15px;
  margin: 15px 0px;
  border-radius: 10px;
}

table#table-detail tr>td:first-child {
  padding-right: 20px;
  font-weight: 700;
}

table#table-detail tr>td {
  padding-bottom: 11px;
}